@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  background-color: #f9fafb;
}

.input:focus {
  border-color: #22c55e;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.3);
}

.btn {
  background-color: #22c55e;
  color: white;
  border-radius: 8px;
  transition: 0.2s;
}

.btn:hover {
  background-color: #16a34a;
}